* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
    scroll-behavior: smooth;
    
  }
  
  a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    
  }
  .bg{
    
  }
  
  /* nav styles */
  .ger{
    color:rgb(248, 185, 13);
  }
  
  
  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 100px;
    align-items: center;
    padding-top: 30px;
    
  }
  
  .logo {
    font-size: 1.8rem;
    color: white;
    padding-left: 20px;
    margin-top: 1.1px;
    font-weight: bold;
    text-shadow: 80px 59px 69px;
  }
  
  .hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .nav__link {
    position: fixed;
    width: 94%;
    top: 5rem;
    left: 18px;
    background-color: rgb(20, 19, 61);
    
    
    
    
    
    
  }
  
  .nav__link a {
    display: block;
    text-align: center;
    padding: 10px 0;
    
    
   
    
  }
  
  .nav__link a:hover {
    background-color: rgb(248, 185, 13);
  }
  
  .hide {
    display: none;
  }
  header{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.349)
          ,rgba(0, 0, 0, 0.302)),
          url(double.webp);
          height: 700px;
          background-size: cover;
          background-position:top;
    

   
  }

  /*content---------------------------------------------*/
  
  .content-div{

    
    width: 70%;
    margin-top: 160px;
    margin-left: 50px;
  }

  .content-div h1{
     font-size: 55px;
     color: white;
     font-weight: 700;
     
  }
  .content-div p{
    color: aliceblue;
    font-size: 20px;
  }
  .order-now{
     width: 130px;
     height: 30px;
     border-radius: 20px;
     background-color: rgb(248, 185, 13) ;
  }
  .order-now:hover{
    background-color: green;
    cursor: pointer;
  }


  /* section 2--------------*/


  .section2{
    height: 110rem;
  }



  .container-1{
    display: flex;
    justify-content: center;

  }
  .wrap-1{
    justify-content: center;
    width: 260px;
    background-color: rgb(248, 185, 13) ;
    margin: 10px 10px;
    height: 270px;
    border-radius: px;
    box-shadow: 2px 5px 7px 0px;
    


  }
  .wrap-1 h1{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
  }
  .wrap-1 p{
    font-size: 14px;
    text-align: center;
    color: white;justify-content: center;
    
  }
   .bg2{
    width: 200px;
    margin-top: 30px;
    margin-left: 10%;

   }
   .viewmore{
    margin-left: 45%;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    background-color: rgb(248, 185, 13);
    border: none;
   }

   .container-2{
    width: 100%;
    height: 300px;
    background-image: 
    linear-gradient(rgba(1, 0, 0, 0.449)
          ,rgba(0, 0, 0, 0.402)),
    url(R.jpg);
    background-size: cover;
    background-position: center;
    
   }
   .content3 h1{
    color: white;
    font-size: 50px;
    position: ;
    margin-top: 60px;
   }
   .content3{
    text-align: center;
    justify-items: center;
    
   }


   .new-dishes{

    text-align: center;
    color:  rgb(248, 185, 13) ;
    font-size: 30px;

   }
   .dishes-img{
    width: 300px;
    height: 230px;
    border-radius: 20px;
   }
   .container-4{
    display: flex;
    justify-content: center;
   }
   .content4{
    width: 300px;
    margin: 0px 10px;
   }
   .content4 p{
     text-align: center;
   }
   .price1{
    color: rgb(255, 145, 0);
    font-weight: 900;
    
   }
   .container-5{
    display: flex;
    justify-content: center;
    
    
   }
   .content5{
    margin: 10px 20px;
   }
   .bt5{
    width: 100px;
    height: 25px;
    background-color:  rgb(255, 145, 0);
    border-radius: 5px;
   }

   .container-6{
    display: flex;
    justify-content: center;
   }

   .chef-img{

    width: 300px;
   }
   .content6{
    width: 300px;
    margin: 80px 50px;
   }
   .content6-0{

    width: 300px;
    margin: 20px 50px;
    height: 200px;
    margin-top: 100px;

   }
   .content6-0 h1{
    font-size: 40px;
    color: rgb(255, 145, 0) ;
   }
   .content6-0 h3{
    font-size: 20px;

   }
   .content6-0 p{
    font-size: 14px;
   }
   .section3{
    height: 30rem;
    background-color:  rgb(255, 145, 0);
    border-radius: 90px;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 400px;
    border-top-right-radius: 600px;
    border-top-left-radius: 0px;
   }
   .container-7{
    display: flex;
    justify-content: center;

   }
   .content7{
    width: 400px;
   }
   .content7-0{
    width: 400px;
    margin-top: 100px;

   }
   .content7-0 p{
    margin-top: 50px;
    color: white;
    font-weight: 70px;
   }
   .content7-0 h1{
    color: white;
    font-weight: 1000;
   }



   .section4{

    height: 80rem;
    background-color: rgb(238, 224, 224);

   }
   .container-8{
    display: flex;
    justify-content: center;
   }
   .bg-logo{
    width: 700px;
    border-start-start-radius: 200px;
    border-bottom-right-radius: 120px;
   }
   .content8{
    margin: 0px 40px;
    margin-top: 100px;
   }
   .content8-0{
    margin: 0px 40px;
    margin-top: 170px;
    width: 400px;

   }
   .content8-0 h1{
    font-size: 30px;
    font-weight: 700;
    color:  rgb(255, 145, 0);
    text-align: center;
   }
   .content8-0{
    width: 20%;
   }
   .contact-bt1{
    justify-content: center;
    width: 90px;
    height: 30px;
    background-color: rgb(255, 145, 0) ;
    border: none;
    border-radius: 8px;
    margin-top: 20px;
    margin-left: 10%;

   }
   .bt5{
    border: none;
   }
   .map-img{
    width: 800px;
    height: 400px;
    margin-top: 90px;
   }
   .container-9{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.925);
    border-radius: ;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.863)
          ,rgba(0, 0, 0, 0.795)),
          url(header.jpg);
          height: 700px;
          background-size: cover;
          background-position:center;
          height: 600px;
   }
   .content9{
    margin: 0px 40px;
    margin-left: 305px;
   }
   .content9-0{
    margin: 0px 60px;
    margin-left: 100px;

   }
   .location{
    text-align: center;
    color: rgb(255, 145, 0);
    font-weight: 600;
    font-size: 30px;
   }
   .content9 h1{
    margin-top: 100px;
    color: white;
   }
   .section5 {
    height: 700px;
   }
   .container-10{
    height: 500px;
    background-color:  rgb(255, 145, 0);
    border-radius: 90px;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 400px;
    border-top-left-radius: 600px;
    border-top-right-radius: 0px;
    width: 80%;
    justify-content: center;
    margin-left: 8%;
    display: flex;
    
   }
   .form label{
    display: block;
    padding:10px;
    color: white;
    
    
   
   }
   .form input{
    padding: 7px ;
    width: 250px;
    border-radius: 20px;
    
    
   }
   .content10{
    background-color: rgba(11, 117, 7, 0.712);
    width: 300px;
    margin-left: 15%;
    border-radius: 20px;
    height: 400px;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px;
    margin: 0px 50px;
    
    
   }
   .form h1{
    text-align: center;
    color: white;
    font-weight: 800;
   }
   .msg-box{
    height: 70px;
   }
   .submit{
    text-align: center;
    width: 80px ;
    height: 25px;
    border-radius: 10px;
    border: none;
    background-color: rgb(13, 192, 13);
    margin-top: 5px;
    margin-left: 33%;
   }

   .content10-0{

    margin: 0px 50px;
    margin-top: 10%;
    border-radius: 50%;
    margin-left: ;

   }
   .content10-0 H1{
    text-align: center;
    color: white;
   }
   .bg4{

    width: 400px;
   }
   .content10{
    margin-top: 40px;
    margin-left: 80px;
   }
   .footer{
    height: 300px;
    background-color: black;
   }
   .container-foot{
    display: flex;
    justify-content: center;
    color: white;
    
   }
   .content11 a{
    display: block;
    padding: 10px;
    text-align: center;
   }
   .content11{
    margin: 0px 20px;
    width: 200px;

   }
   .content11 p{
    padding: 10px;

   }
   .sign{
    color: white;
    text-align: center;
   }
   .dishes-img{
    width: ;
   }


  
   


  




  



  

























  @media screen and (min-width: 700px) {
    .nav__link {
      display: block;
      position: static;
      width: auto;
      margin-right: 20px;
      background: none;
    }
  
    .nav__link a {
      display: inline-block;
      padding: 15px 20px;
    }
  
    .hamburger {
      display: none;
    }
    
  } 
  
  


  
  @media screen and (max-width: 1000px) {

    .content10-0{
      display: none;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        margin: 0px 10px;
        align-items: center;
        padding-top: 30px;
    }



    @media screen and (max-width: 1500px){
      .container-1{
        flex-wrap: wrap;
        justify-content: space-evenly;
       
        
    }

    @media screen and (max-width: 1000px){
     

       .section4{
        height: 90rem;
       } 
        
      }
      .section2{
        height: 120rem;
      }
      .wrap-1{
        
      }
    }
    .container-4{
      flex-wrap: wrap;
    }

  
      .section3{
        height: 50rem;

      }
      .container-6{
        flex-wrap: wrap;
      }
      .container-8{
        flex-wrap: wrap;
      }
      .bg-logo{
        width: 400px;
      }
      .content8-0{
        width:300px ;
       
      }
      .container-9{
        flex-wrap: wrap;
      }
      .map-img{
        width: 500px;
        height: 300px;
      }
      .content9-0{
        width: 300px;
        margin-right: 60%;

      }
      .container-10{
        flex-wrap: wrap;
      }
      .container-foot{

        flex-wrap: wrap;
      }

      .footer{
        height: 400px;

      }


      



    






    @media screen and (max-width: 960px){
      .section2{
        height: 140rem;
      }
    }


    @media screen and (max-width: 960px){

      .container-7{
        flex-wrap: wrap;
      }

    }


    @media screen and (max-width: 799px)
    {
      .section2{
        height: 160rem;
      }
      .big-burger{
        width: 400px;
      }
      .content8-0{
        

    }
  }




    @media screen and (max-width: 699px){
      .section2{
        height: 180rem
      }
      .content7-0 p{
        width: 300px;
        text-align: center;
      }
      .content7-0 h1{
        text-align: start;
        margin-left: 20px;
      }
    }




      @media screen and (max-width: 560px){
        .section2{
          height: 230rem;
        }
        .viewmore{
          
        }


      }




      @media screen and (max-width: 450px)
      {
        .map-img{
          width: 100px;
          height: 300px;
        }

      }



      @media screen and (max-width: 500px){

        .vm{
          margin-right: 10%;
        }
        .bg-logo{
          width: 350px;

      }

      .map-img{
        width: 200px;
        
      }
    }



      @media screen and (max-width: 600px){

        .container5{
        }
        .map-img{
          width: 400px;
          height: 300px;
        }
        .footer{
          height: 600px;
      }
     
    